.CreateTweetForm {
  .btn-success {
    border-radius: 2rem !important;
  }

  textarea {
    border-width: 2px;

    &:focus, &:active {
    }

    &:disabled {
      background-color: inherit;
      opacity: 0.7;
    }
  }
}
